h1
  {
    Spadding: 3rem;
    color:White;
    margin: 3rem;
      font-family: 'Anton', sans-serif;
    text-align: center;


  }

body {
  background-image: url("Africa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: 'Anton', sans-serif;
  color:white;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: black;
  border: 1px solid white;
  width: 40px;
  height: auto;
  font-size: 30px
  background:white;
}
